{% load static %}

<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
</head>
<body class = "centered">
    <img src="{% static 'images/logo_large.png' %}" alt="Duck Logo">
    <h1>{{header}}</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" enctype="multipart/form-data"  method="post">      
        <p>Current institution: {{ campus_name }}</p>
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Submit">
        <div class="alert alert-info centered" role="alert">
            <b>Please choose your LendingRequest.xls file and submit.</b>
        </div>
        <div class="loader"></div>
    </form>
</body>
</html>
